.postCard_box{
    background-color: var(--secondary_color);
    padding: 8px 1rem;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: rgba(228, 228, 228, 0.697);
    gap: 10px;
}
.postCard_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postCard_topLeft{
    display: flex;
    align-items: center;
    gap: 10px;    
}
.postCard_topLeft img{
    width: 35px;
    border-radius: 50%;
}
.postCard_topLeft h3{
    font-size: 13px;
    font-weight: 500;
}
.postCard_topLeft p{
    font-size: 12px;
}
.postCard_middle{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.status{
    font-size: 13px;
}
.post_imgWrapper{
    height: 350px;
    width: 100%;
}
.postImg{
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
    object-fit: cover;
    border-radius: 5px;
}
.postCard_btnWrappers{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postReact_btn{
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
    padding: 6px 0;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    color: rgba(228, 228, 228, 0.712);
    font-size: 12px;
}
.reaction_icons{
    font-size: 20px;
}