/* .homepage_container{
    background-color: var(--primary_color);
} */
.hero_section{
    display: flex;
}
.sidebar_container{
    flex: 3;
    padding: 1rem 0;
    background-color: var(--primary_color);
}
.hero_mainBox{
    display: flex;
    flex-direction: column;
    flex: 6;
    background-color: var(--secondary_color);
    padding: 1rem;
    gap: 1rem ;
}
.friendList_Box{
    flex: 3;
    padding: 1rem;
  
}