.hero_section{
    display: flex;
}
.sidebar_container{
    flex: 3;
    background-color: rgb(225, 225, 225);
    padding: 1rem 0;
}
.hero_mainBox{
    display: flex;
    flex-direction: column;
    flex: 6;
    background-color: rgb(200, 200, 200);
    padding: 1rem;
    gap: 1rem ;
}
.friendList_Box{
    flex: 3;
    padding: 1rem;
  
}